@import "../utils.scss";
@import "./profile.scss";

.article {
  @import "./header.scss";
  @include flex();
  @include flex-wrap(wrap);
  width: 100%;
  .container {
    @include profile(10%, 5%, 0%, 0%);
    @import "./article-content.scss";
    @include flex();
    width: 100%;
    margin-top: 50px;
  }
}