@import "../utils.scss";

.archive-container {
  width: 100%;
  height: 100%;
  margin: 0 15% 0 50px;
  a {
    @include user-select(none);
    text-decoration: none;
    color: #404040;
    font-weight: 200;
    text-shadow: 0 0 1px rgba(0, 0, 0, .15);
    &:hover {
      color: #296EB4;
    }
  }
  .archive-total {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }
  .archive-list {
    width: 100%;
    @import "./archive-year.scss";
  }
}
@media screen and (min-width: 897px) and (max-width: 1024px) {
  .archive-container {
    margin: 0 10% 0 50px;
  }
}
@media screen and (min-width: 640px) and (max-width: 896px) {
  .archive-container {
    margin: 0 10%;
  }
}
@media screen and (max-width: 639px) {
  .archive-container {
    margin: 0 5%;
  }
}