.archive-year {
  > h2 {
    font-size: 22px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }
  .archive-month {
    padding: 0 25px;
    margin-left: 10px;
    > h3 {
      font-size: 20px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      margin-bottom: 0;
    }
    hr {
      margin-top: 10px;
      border: 0;
      border-top: 1px solid #eee;
    }
    ul {
      padding-left: 0;
      li {
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
@media screen and (max-width: 896px) {
  .archive-month > ul > li > a {
    color: #296EB4;
  }
}