@import "../utils.scss";
@import "../tags/tag-label.scss";

.article-preview {
  margin: 50px 0;
  a {
    @include user-select(none);
    text-decoration: none;
    color: #404040;
  }
  .article-title {
    font-size: 1.8em;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0, 0, 0, .15);
    &:hover {
      color: #296EB4;
    }
  }
  .article-meta {
    @include fit-content();
    display: block;
    font-size: 15px;
    color: #808080;
    margin: 5px 0;
    padding-left: 2px;
    i {
      margin-right: 3px;
    }
  }
  @include tag-label(white, #296EB4);
  .article-preview-content {
    margin: 30px 0;
  }
  .article-more-btn {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, .15);
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    background: #296EB4;
    &:hover {
      color: black;
    }
  }
}