@import "./utils.scss";

@mixin about-me($margin) {
  .about-me {
    @include flex();
    @include flex-direction(column);
    @include align-items(center);
    margin: $margin;
    img {
      width: 144px;
      height: 144px;
      border-radius: 50%;
    }
    h4 {
      font-size: 18px;
      color: rgba(64, 64, 64, 1);
      margin-bottom: 0;
    }
    p {
      font-size: 15px;
      color: #aaa;
    }
  }
  @media screen and (max-width: 640px) {
    .about-me {
      h4 {
        margin-top: 2px;
      }
      p {
        margin: 0;
      }
    }
  }
}