@import "./utils.scss";

@mixin contact-info($font-size) {
  .contact-info {
    @include flex();
    @include justify-content(center);
    font-size: $font-size;
    .contact-info-icon {
      color: black;
      margin: 0 $font-size/4;
      &:hover {
        color: #296EB4;
      }
    }
  }
}