@import "./utils.scss";
@import "./contact-info.scss";

footer {
  @include flex();
  @include flex-direction(column);
  @include align-items(center);
  margin: 50px 0;
  a{
    color: #296EB4;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .visitor {
    @include flex();
    @include flex-direction(column);
    font-size: 12px;
  }
  .copyright {
    @include flex();
    @include flex-direction(column);
    font-size: 14px;
    color: #777;
    text-align: center;
    line-height: 1.7;
  }
  @include contact-info(40px);
  hr {
    width: 90%;
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    &::before {
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: #8c8b8b;
      border-width: 0 0 1px 0;
      border-radius: 20px;
    }
  }
  .secure {
    display: none;
  }
}