header {
  background: url('/images/header-background.jpg') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 370px;
}
@media screen and (max-width: 640px) {
  header {
    height: 300px;
  }
}