@import "./utils.scss";
@import "./about-me.scss";
@import "./tags/tag-label.scss";

header {
  background: url('/images/header-background.jpg') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 370px;
  @include about-me(0, 100%);
  .header-content {
    @include flex();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: inherit;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 40px black;
    .article-meta {
      font-size: 16px;
    }
    @include tag-label(#296EB4, white);
  }
}

@media screen and (max-width: 640px) {
  header {
    height: 300px;
  }
}