@import "./pagination.scss";
@import "./profile.scss";

.home {
  @import "./articles-list.scss";
  @include pagination();
  @include profile();
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}