@import "./navbar.scss";
@import "./login.scss";
@import "./pagination.scss";

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //	border: solid 1px;
}

body {
  .wrapper {
    .navbar {
      @include navbar();
    }
    .container {
      padding-top: 10vh;
      .login {
        @include loginForm();
      }
      .pagination {
        @include pagination();
      }
    }
  }
}