@mixin loginForm() {
  form {
    position: relative;
    .field {
      clear: both;
      margin: 0 0 1em;
      &.error {
        color: #9f3a38;
      }
      .error.message {
        background-color: #fff6f6;
        color: #9f3a38;
        -webkit-box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
        box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
        position: relative;
        min-height: 1em;
        margin: 1em 0;
        background: #f8f8f9;
        padding: 1em 1.5em;
        line-height: 1.4285em;
        border-radius: .28571429rem;
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    .field > label {
      display: block;
      margin: 0 0 .28571429rem 0;
      color: rgba(0,0,0,.87);
      font-size: .92857143em;
      font-weight: 700;
      text-transform: none;
    }
    input:not([type]), input[type=date], input[type=datetime-local], input[type=email], input[type=file],
    input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text],
    input[type=time], input[type=url] {
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      margin: 0;
      outline: 0;
      -webkit-appearance: none;
      line-height: 1.21428571em;
      padding: .67857143em 1em;
      font-size: 1em;
      background: #fff;
      border: 1px solid rgba(34,36,38,.15);
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
      -webkit-box-shadow: 0 0 0 0 transparent inset;
      box-shadow: 0 0 0 0 transparent inset;
      -webkit-transition: color .1s ease,border-color .1s ease;
      transition: color .1s ease,border-color .1s ease;
      width: 100%;
      vertical-align: top;
      &:focus {
        color: rgba(0,0,0,.95);
        border-color: #85b7d9;
        border-radius: .28571429rem;
        background: #fff;
        -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
        box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
      }
    }
    textarea {
      width: 100%;
      vertical-align: top;
    }
    button {
      &.positive {
        background-color: #21ba45;
        color: #fff;
        text-shadow: none;
        background-image: none;
        &:hover {
          background-color: #16ab39;
          color: #fff;
          text-shadow: none;
        }
      }
      cursor: pointer;
      display: inline-block;
      min-height: 1em;
      outline: 0;
      border: none;
      vertical-align: baseline;
      background: #e0e1e2 none;
      color: rgba(0,0,0,.6);
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      margin: 0 .25em 0 0;
      padding: .78571429em 1.5em .78571429em;
      text-transform: none;
      text-shadow: none;
      font-weight: 700;
      line-height: 1em;
      font-style: normal;
      text-align: center;
      text-decoration: none;
      border-radius: .28571429rem;
      &:hover {
        background-color: #cacbcd;
        background-image: none;
        -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
        box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
        color: rgba(0,0,0,.8);
      }
    }
  }
}