@import "./contact-info.scss";
@import "./about-me.scss";

@mixin profile($margin-left, $small-margin-left, $margin-right, $small-margin-right) {
  .profile {
    @include about-me(50px 0 0 0);
    @include contact-info(30px);
    width: 300px;
    min-width: 300px;
    height: 700px;
    margin-left: $margin-left;
    margin-right: $margin-right;
  }
  @media screen and (min-width: 897px) and (max-width: 1024px) {
    .profile {
      margin-left: $small-margin-left;
      margin-right: $small-margin-right;
    }
  }
  @media screen and (max-width: 896px) {
    .profile {
      display: none;
    }
  }
}