@import "../utils.scss";

.tags-lists {
  width: 100%;
  margin-top: 25px;
  .tag-list {
    .tag-label {
      @include user-select(none);
      color: #296EB4;
      font-size: 20px;
      font-weight: 200;
      line-height: 2;
      text-shadow: 0 0 1px rgba(0, 0, 0, .15);
      i {
        margin-right: 10px;
      }
    }
    .tag-article {
      margin-left: 25px;
      a {
        text-decoration: none;
        color: #404040;
        .tag-article-title {
          margin-bottom: 0;
          font-weight: 200;
          text-shadow: 0 0 1px rgba(0, 0, 0, .15);
          &:hover {
            color: #296EB4;
          }
          i {
            margin-right: 10px;
          }
        }
      }
      hr {
        margin-top: 10px;
        border: 0;
        border-top: 1px solid #eee;
      }
    }
  }
}