@import "utils.scss";
@import "./profile.scss";

.tags {
  @import "./header.scss";
  @include flex();
  @include flex-wrap(wrap);
  width: 100%;
  .container {
    @import "./tags-container.scss";
    @include profile(0%, 0%, 10%, 5%);
    @include flex();
    width: 100%;
    margin-top: 75px;
  }
}